@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.container{
 max-width: 200px;
 margin: 0 auto;

}

.layout{
   height: 100vh;
  background-image: linear-gradient(to
  bottom, white, #dbeafe, white) ;
  
}

.navbar-root{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

.logo{
  font-size: 12px;

}

.link{
  display: flex;
  padding: 4px 12px;
}

.link-item{

}

.btn{
  all: unset;
font-size: 8px;
padding: 4px 8px
}