*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.containter{
  max-width: 1200px;
  margin: 0 auto;
  background-color:red ;
}
.layout{
  height: 100vh;
  background-color: linear-gradient(to bottom,white,#dbeafe, white);
}

.navbar-root {
  display: flex;
  justify-content: space-between;
}